{{> _navbar}}
<div class="container">
  <div class="card card-body">
    <h3>Blog Post</h3>
    <form action="/blogs" method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" required>
      </div>
      <div class="form-group">
        <label for="details">Blog</label>
        <textarea name="details" id="summernote"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Post!</button>
    </form>
  </div>
</div>

