{{> _navbar}}

<div class="container" style="text-align: center">
  <div class="jumbotron">
    <h1>Welcome to a fully functional blogging WebAPI.</h1>
    
        This blog is complete with user registration via MongoDB.
     
        User authentication with a local passport.js strategy in conjunction with password encryption.
     
        Functional WYSIWYG editor.
     
        And a helper function to determine what database to use, be it in production or development.
      

    <p>Note, you will require MongoDB installed in order to use this blog. Or connect it to an external source such as MLabs. This blog has been made as a tutorial on node http routing and CRUD implementation, also featuring route protection.</p>
    <p>This is based as an instructional blog, with focus on the code, not the front end design.</p>

  </div>
</div>