{{> _navbar}}
<div class="container">
  <div class="jumbotron" style="text-align: center">
    <h3>Welcome to a node/express driven blogging api.</h3>
    <h5>Complete with a WYSIWYG editor!</h5>
  </div>
</div>